name: CI

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.415
    - name: Build
      run: |
        & .\build.cmd
        if ($LASTEXITCODE -ne 0) { exit $LASTEXITCODE }
